includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    paths:
        - app/
        - config/
        - database/
        - routes/
        - tests/

    # Level 5 is less strict for troubleshooting
    level: 5

    excludePaths:
        - ./*/*.blade.php
        - database/migrations/
